<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="data:,">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./resources/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Controle de Estoque</title>
</head>

<body>
    <div id="app">
        <v-app>
            <v-app-bar color="primary" app dark>
                <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
                <v-toolbar-title class="d-none d-xs-none d-sm-flex d-md-flex">Controle de Estoque</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-text-field v-if="route.products" v-model="search" append-icon="mdi-magnify" label="Procurar"
                    single-line hide-details>
                </v-text-field>
                <v-spacer></v-spacer>
                <v-btn v-if="route.products" @click="loadProducts()" icon>
                    <v-icon>mdi-cached</v-icon>
                </v-btn>
                <v-menu left bottom>
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn icon v-bind="attrs" v-on="on">
                            <v-icon>mdi-dots-vertical</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item href="#" @click="about.visible = true">
                            Sobre
                        </v-list-item>
                    </v-list>
                </v-menu>
            </v-app-bar>
            <v-navigation-drawer v-model="drawer" bottom app disable-resize-watcher>
                <v-list nav>
                    <v-list-item-group>
                        <v-list-item href="#" @click="routing(0)">
                            <v-list-item-icon>
                                <v-icon>mdi-home</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Home</v-list-item-title>
                        </v-list-item>
                        <v-list-item href="#" @click="routing(1)">
                            <v-list-item-icon>
                                <v-icon>mdi-package-variant-closed</v-icon>
                            </v-list-item-icon>
                            <v-list-item-title>Produtos</v-list-item-title>
                        </v-list-item>
                    </v-list-item-group>
                </v-list>
            </v-navigation-drawer>
            <v-main fluid>
                <v-container v-if="route.home" fluid>
                </v-container>
                <v-container v-if="route.products" fluid>
                    <v-breadcrumbs :items="breadcrumbs" divider="/">
                        <template v-slot:item="{ item }">
                            <v-breadcrumbs-item :href="item.href" @click="routing(item.id)" :disabled="item.disabled">
                                {{ item.text }}
                            </v-breadcrumbs-item>
                        </template>
                    </v-breadcrumbs>
                    <v-data-table :headers="table.headers" :items="products" :page.sync="table.pageIndex"
                        :items-per-page="table.itemsPerPage" :search="search" sort-by="code"
                        @page-count="table.pageCount = $event" class="elevation-1" :loading="noDataLoaded"
                        loading-text="Carregando produtos..." no-data-text="Nenhum produto cadastrado."
                        no-results-text="Nenhum resultado encontrado" hide-default-footer>
                        <template v-slot:top>
                            <v-toolbar flat>
                                <v-toolbar-title>{{table.title}}</v-toolbar-title>
                                <v-spacer></v-spacer>
                                <v-dialog v-model="dialog" max-width="700px">
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn color="primary" dark v-bind="attrs" v-on="on" rounded outlined>
                                            <v-icon left>
                                                mdi-package-variant-closed-plus
                                            </v-icon>
                                            Adicionar
                                        </v-btn>
                                    </template>
                                    <v-card>
                                        <v-form v-model="form" ref="form" lazy-validation>
                                            <v-card-title>
                                                <span class="text-h5">{{ formTitle }}</span>
                                            </v-card-title>

                                            <v-card-text>
                                                <v-container>
                                                    <v-row>
                                                        <v-col cols="4" sm="12" md="3">
                                                            <v-text-field type="number" v-model.number="editedItem.code"
                                                                label="Código" :rules="rule.code"
                                                                :disabled="formTitle == 'Alterar Produto'"
                                                                hide-spin-buttons>
                                                            </v-text-field>
                                                        </v-col>
                                                        <v-col cols="8" sm="12" md="9">
                                                            <v-text-field v-model="editedItem.name" label="Nome"
                                                                :rules="rule.name" required>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                    <v-row>
                                                        <v-col cols="12" sm="12" md="6">
                                                            <v-select v-model="editedItem.category" label="Categoria"
                                                                :items="select.category">
                                                            </v-select>
                                                        </v-col>
                                                        <v-col cols="12" sm="12" md="3">
                                                            <v-text-field type="number"
                                                                v-model.number="editedItem.quantity" label="Quantidade"
                                                                :rules="rule.quantity" hide-spin-buttons required>
                                                            </v-text-field>
                                                        </v-col>
                                                        <v-col cols="12" sm="12" md="3">
                                                            <v-text-field type="number"
                                                                v-model.number="editedItem.value" prefix="R$"
                                                                label="Valor" :rules="rule.value" hide-spin-buttons
                                                                required>
                                                            </v-text-field>
                                                        </v-col>
                                                    </v-row>
                                                </v-container>
                                            </v-card-text>
                                            <v-divider></v-divider>
                                            <v-card-actions>
                                                <v-spacer></v-spacer>
                                                <v-btn color="blue darken-1" text @click="reset()">
                                                    Limpar
                                                </v-btn>
                                                <v-btn color="blue darken-1" text @click="close()">
                                                    Cancelar
                                                </v-btn>
                                                <v-btn color="blue darken-1" text @click="save()" :disabled="!form">
                                                    Salvar
                                                </v-btn>
                                            </v-card-actions>
                                        </v-form>
                                    </v-card>
                                </v-dialog>
                                <v-dialog v-model="dialogDelete" width="unset">
                                    <v-card>
                                        <v-card-title class="text-h5">
                                            Deseja realmente excluir o produto?
                                        </v-card-title>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn color="blue darken-1" text @click="closeDelete()">Cancelar</v-btn>
                                            <v-btn color="blue darken-1" text @click="deleteItemConfirm()">Confirmar
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                </v-dialog>
                            </v-toolbar>
                        </template>
                        <template v-slot:item.actions="{ item }">
                            <v-icon small class="mr-2" @click="editItem(item)">
                                mdi-pencil
                            </v-icon>
                            <v-icon small @click="deleteItem(item)">
                                mdi-delete
                            </v-icon>
                        </template>
                    </v-data-table>
                    <v-container v-if="products.length" class="text-center pt-2">
                        <v-pagination v-model="table.pageIndex" :length="table.pageCount"></v-pagination>
                    </v-container>
                </v-container>
                <v-dialog v-model="about.visible" width="600">
                    <v-card>
                        <v-card-title class="text-h5 grey lighten-2">
                            {{about.title}}
                        </v-card-title>
                        <v-card-title>
                            Objetivo
                        </v-card-title>
                        <v-card-text class="pb-0 text-justify">
                            {{about.goal}}
                        </v-card-text>
                        <v-card-title>Professores</v-card-title>
                        <v-card-text class="pb-0">
                            <ul>
                                <li v-for="teacher in about.teachers">
                                    <a :href="teacher.href" rel="noopener noreferrer"
                                        target="_blank">{{teacher.name}}</a>
                                </li>
                            </ul>
                        </v-card-text>
                        <v-card-title>
                            Frameworks e Tecnologias Utilizadas
                        </v-card-title>
                        <v-card-text class="pb-0">
                            <ul>
                                <li v-for="tech in about.techs">
                                    <a :href="tech.href" rel="noopener noreferrer" target="_blank">{{tech.name}}</a>
                                </li>
                            </ul>
                        </v-card-text>
                        <v-card-title>Desenvolvedores</v-card-title>
                        <v-card-text>
                            <ul>
                                <li v-for="dev in about.devs">
                                    <a :href="dev.href" rel="noopener noreferrer" target="_blank">{{dev.name}}</a>
                                </li>
                            </ul>
                        </v-card-text>
                        <v-divider></v-divider>
                        <v-card-actions>
                            <div class="text-center">Academia Java 2022 -
                                <a target="_blank" rel="noopener noreferrer"
                                    href="https://atos.net/pt-br/brasil-atos">Atos</a> &
                                <a target="_blank" rel="noopener noreferrer" href="https://www.ufn.edu.br">UFN</a>
                            </div>
                            <v-spacer></v-spacer>
                            <v-btn color="primary" text @click="about.visible=false">Fechar</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-snackbar v-model="snackbar.visible" :timeout="snackbar.timeout" right min-width="auto">
                    {{snackbar.message}}
                    <template v-slot:action="{ attrs }">
                        <v-btn color="primary" text v-bind="attrs" @click="snackbar.visible = false">
                            Fechar
                        </v-btn>
                    </template>
                </v-snackbar>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="./resources/js/main.js"></script>
</body>

</html>